<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/login_page.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                crossorigin="anonymous"></script>
        <script>

            let server_location = "localhost:5000";

            function getLoginData() {
                let id = $("#login_id").val();
                let password = $("#login_password").val();

                $.ajax({
                    type: "POST", // POST 방식으로 요청하겠다.
                    url: "/login", // /memo라는 url에 요청하겠다.
                    data: {id_give: id, password_give: password}, // 데이터를 주는 방법
                    success: function (response) { // 성공하면
                        if (response["result"] == "success") {
                            alert("login");
                            window.location.href = 'http://' + server_location + '/main';
                        } else {
                            alert()
                        }
                    }
                })
            }
        </script>

    </head>
    <body>
        <div class="wrapper">
            <div class="login_logo"></div>
            <div class="blank"></div>
            <div class="form_btn">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <label id="login_btn" class="btn btn-outline-primary">로그인</label>
                    <label id='signup_btn' class="btn btn-outline-primary">회원가입</label>
                </div>
            </div>

            <div id=form_login class="form_login">
                <div class="sing_up_title">로그인</div>
                <div class="blank"></div>
                <div class="input-group mb-3">
                    <span class="input-group-text">아이디</span>
                    <input id="login_id" type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">패스워드</span>
                    <input id="login_password" type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                </div>
                <button onclick="getLoginData()" type="button" id="login_submit" class="btn btn-primary btn-sm">로그인
                </button>
            </div>

            <div id=form_sign_up class="sing_up_form">
                <div class="sing_up_title">회원가입</div>
                <div class="blank"></div>
                <div class="input-group mb-3">
                    <span class="input-group-text">아이디</span>
                    <input id="form_id" type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">패스워드</span>
                    <input id="form_pw" type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">패스워드확인</span>
                    <input id="form_pw_check" type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">이름</span>
                    <input id="form_name" type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <label style="width:20%" class="input-group-text" for="inputGroupSelect01">Options</label>
                    <select style="width: 80%" class="form-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">교육생</option>
                        <option value="2">운영진</option>
                    </select>
                </div>
                <button type="button" id="form_submit" class="btn btn-primary btn-sm">회원가입</button>
            </div>
        </div>
        <script>
            let login_btn = document.getElementById("login_btn");
            let signup_btn = document.getElementById("signup_btn");
            let login_form = document.getElementById("form_login");
            let signup_form = document.getElementById("form_sign_up");
            let login_submit = document.getElementById("login_submit");
            let signup_submit = document.getElementById("form_submit");

            login_btn.addEventListener("click", function () {
                signup_form.style.display = "none";
                login_form.style.display = "flex";
            });
            signup_btn.addEventListener("click", function () {
                login_form.style.display = "none";
                signup_form.style.display = "flex";
            });
            signup_submit.addEventListener("click", function () {
                let sign_up_id = document.getElementById("form_id").value;
                let sign_up_password = document.getElementById("form_pw").value;
                let sign_up_name = document.getElementById("form_name").value;
                let sign_up_usertype = document.getElementById("inputGroupSelect01").value;
                let usertype;
                if (sign_up_usertype == 1) {
                    usertype = 1
                } else if (sign_up_usertype == 2) {
                    usertype = 2
                }

                $.ajax({
                    type: "POST",
                    url: "/signup",
                    data: {
                        "id_give": sign_up_id,
                        "password_give": sign_up_password,
                        "name_give": sign_up_name,
                        "usertype": sign_up_usertype
                    },
                    success: function (response) { // 성공하면
                        if (response["result"] == "success") {
                            alert("회원 가입 성공");
                            window.location.reload();
                        } else {
                            alert("회원 가입 실패");
                            window.location.reload();
                        }
                    }
                })
            });
        </script>
    </body>
</html>