<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $.ajax({
            type: "GET",
            url: "/login",
            data: {},
            success: function (response) {
                alert(response);
            }
        });
    </script>
    <body>
        <form method="post" action="/login">
            <div style=" width: 100%; margin-top: 10%; display: flex; flex-direction: column; align-items: center; justify-content: center">
                <input name=name type="text" placeholder="name">
                <input name=password type="text" placeholder="password">
                <input type="submit">
            </div>
        </form>
    </body>
</html>