<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Song+Myung&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous">
    </script>
    <script>
        let server_location = "localhost:5000";

        // --------------------------------JH------------------------------------
        // --------------------------------JH------------------------------------
        // --------------------------------JH------------------------------------

        function init() {
            let info_add_form = document.getElementById("info_add_form");
            info_btn(info_add_form);
            infoAdd(info_add_form);
        }

        function logout() {
            window.location.href = 'http://' + server_location + '/logout';
        }

        function infoAdd(form) {
            let infoAdd_btn = document.getElementById("info_add");
            infoAdd_btn.addEventListener("click", function () {
                form.style.display = "flex";
            });
        }

        function info_btn(form) {
            let info_submit_btn = document.getElementById("info_add_submit");
            let info_cancel_btn = document.getElementById("info_add_cancel");

            info_submit_btn.addEventListener("click", function () {

                let info_form_title = document.getElementById("info_form_title").value;
                let info_form_contents = document.getElementById("info_form_contents").value;
                let info_form_url = document.getElementById("info_form_url").value;
                let info_form_image_url = document.getElementById("info_form_img_url").value;

                $.ajax({
                    type: "POST",
                    url: `/postinfo`,
                    data: {
                        'info_title_give': info_form_title,
                        'info_contents_give': info_form_contents,
                        "info_url_give": info_form_url,
                        "info_image_url_give": info_form_image_url
                    },
                    success: function (response) { // 성공하면
                        if (response["result"] == "success") {
                            alert("포스팅 되었습니다.");
                            form.style.display = "none";
                        } else {
                            alert("포스팅 오류");
                        }
                    }
                });
            });

            info_cancel_btn.addEventListener("click", function () {
                form.style.display = "none";
            });
        }

        function addLike(uid, view) {
            $.ajax({
                type: "POST",
                url: `/postview`,
                data: {
                    'info_click_uid_give': uid,
                    'cnt_view': view
                },
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        window.location.reload();
                    } else {
                        alert("조회수 갱신 오류");
                    }
                }
            });
        }

        // --------------------------------JH------------------------------------
        // --------------------------------JH------------------------------------
        // --------------------------------JH------------------------------------

        // --------------------------------YD------------------------------------
        // --------------------------------YD------------------------------------
        // --------------------------------YD------------------------------------


        function developHistoryPut(id, parentsid) {
            // console.log(id)
            // console.log($("#workhistory" + id).css("display"))
            $("#workhistorymon" + id.slice(3, 5)).hide();
            $("#workhistorytue" + id.slice(3, 5)).hide();
            $("#workhistorywed" + id.slice(3, 5)).hide();
            $("#workhistorythu" + id.slice(3, 5)).hide();
            $("#workhistoryfri" + id.slice(3, 5)).hide();
            $("#workhistorysat" + id.slice(3, 5)).hide();
            $("#workhistorysun" + id.slice(3, 5)).hide();

            if ($("#workhistory" + id).css("display") == "none") {
                $("#workhistory" + id).show();
            } else {
                $("#workhistory" + id).hide();
            }
        }

        function insertcontents(id) {
            id = id.slice(11, 16)

            let title = $("#title" + id).val();
            let contents = $("#contents" + id).val();
            // // 2. memo에 POST 방식으로 메모 생성 요청하기
            $.ajax({
                type: "POST", // POST 방식으로 요청하겠다.
                url: "/develophistory", // /memo라는 url에 요청하겠다.
                data: {title_give: title, contents_give: contents, id_give: id}, // 데이터를 주는 방법
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        // 3. 성공 시 페이지 새로고침하기
                        window.location.reload();
                    } else {
                    }
                }
            });
        }

        function editcontents(id) {
            id = id.slice(11, 16)

            let title = $("#title" + id).val();
            let contents = $("#contents" + id).val();
            // // 2. memo에 POST 방식으로 메모 생성 요청하기
            $.ajax({
                type: "POST", // POST 방식으로 요청하겠다.
                url: "/develophistory/edit", // /memo라는 url에 요청하겠다.
                data: {title_give: title, contents_give: contents, id_give: id}, // 데이터를 주는 방법
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        // 3. 성공 시 페이지 새로고침하기
                        window.location.reload();
                    } else {
                    }
                }
            })
        }

        function deletecontents(id) {
            id = id.slice(11, 16)

            let title = $("#title" + id).val();
            let contents = $("#contents" + id).val();
            // // 2. memo에 POST 방식으로 메모 생성 요청하기
            $.ajax({
                type: "POST", // POST 방식으로 요청하겠다.
                url: "/develophistory/delete", // /memo라는 url에 요청하겠다.
                data: {id_give: id}, // 데이터를 주는 방법
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert("포스팅 성공!");
                        // 3. 성공 시 페이지 새로고침하기
                        window.location.reload();
                    } else {
                        alert("서버 오류!")
                    }
                }
            })
        }

        var userkey = "";

        function showDevelopHistory(key) {

            $("#develophistory").empty();
            let path = null
            if (key == "init") {
                path = "/develophistory"


            } else {
                path = "/develophistory?key=" + key
            }


            $.ajax({
                type: "GET", // POST 방식으로 요청하겠다.
                url: path, // /memo라는 url에 요청하겠다.
                data: {}, // 데이터를 주는 방법
                success: function (response) {


                    let historys = response["historys"];
                    // console.log(historys)

                    let temphtml = ``
                    let tempid = 0

                    let syllabus = response["syllabus"];
                    // console.log(syllabus)

                    //
                    week_desc = []
                    week_desc.push("")
                    week_desc.push("알고리즘 기초, 정렬")
                    week_desc.push("스택, 큐, 링크드리스트")
                    week_desc.push("BFS, DFS")
                    week_desc.push("동적 프로그래밍")
                    week_desc.push("B+트리 프로젝트")
                    week_desc.push("웹서버 만들기(C++)")
                    week_desc.push("웹서버 만들기(C++)")
                    week_desc.push("OS 프로젝트 (핀토스)")
                    week_desc.push("OS 프로젝트 (핀토스)")
                    week_desc.push("OS 프로젝트 (핀토스)")
                    week_desc.push("OS 프로젝트 (핀토스)")
                    week_desc.push("OS 프로젝트 (핀토스)")
                    week_desc.push("OS 프로젝트 (핀토스)")
                    week_desc.push("프로젝트 기획")
                    week_desc.push("프로젝트 개발")
                    week_desc.push("프로젝트 개발")
                    week_desc.push("프로젝트 개발")
                    week_desc.push("프로젝트 런칭")


                    for (let i = 1; i < 19; i++) {
                        // console.log(${syllabus[i]["week_desc"]});
                        let desc = syllabus[i]
                        temphtml += `<a id="week${i}"  href="#" class="list-group-item list-group-item-action" onclick="showday(id)">week${i}  ${week_desc[i]}</a>
                        <ul  style="display:none;"  id="weekday${i}"class="list-group list-group-horizontal">
                              <li id="thu${i}" class="list-group-item list-group-item-action" onclick="developHistoryPut(id,this.parentNode.id)">목</li>
                              <li id="fri${i}" class="list-group-item list-group-item-action" onclick="developHistoryPut(id,this.parentNode.id)">금</li>
                              <li id="sat${i}" class="list-group-item list-group-item-action" onclick="developHistoryPut(id,this.parentNode.id)">토</li>
                              <li id="sun${i}" class="list-group-item list-group-item-action" onclick="developHistoryPut(id,this.parentNode.id)">일</li>
                              <li id="mon${i}" class="list-group-item list-group-item-action" onclick="developHistoryPut(id,this.parentNode.id)">월</li>
                              <li id="tue${i}" class="list-group-item list-group-item-action" onclick="developHistoryPut(id,this.parentNode.id)">화</li>
                              <li id="wed${i}" class="list-group-item list-group-item-action" onclick="developHistoryPut(id,this.parentNode.id)">수</li>
                        </ul>
                            <ur id="workhistorythu${i}" style="display: none;">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">THU Title</label>
                                    <textarea id="titlethu${i}" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                                </div>
                                <div class="mbz-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Contents</label>
                                    <textarea id="contentsthu${i}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button id="insertthu${i}" type="button" class="btn btn-outline-primary" onclick="insertcontents(this.parentNode.id)">등록</button>
                                <button id="editthu${i}" style="display: none" type="button" class="btn btn-outline-success" onclick="editcontents(this.parentNode.id)">수정</button>
                                <button id="deletethu${i}" style="display: none" type="button" class="btn btn-outline-secondary" onclick="deletecontents(this.parentNode.id)" >삭제</button>
                            </ur>


                            <ur id="workhistoryfri${i}" style="display: none;">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">FRI Title</label>
                                    <textarea id="titlefri${i}" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                                </div>
                                <div class="mbz-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Contents</label>
                                    <textarea id="contentsfri${i}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button id="insertfri${i}" type="button" class="btn btn-outline-primary" onclick="insertcontents(this.parentNode.id)">등록</button>
                                <button id="editfri${i}" style="display: none" type="button" class="btn btn-outline-success" onclick="editcontents(this.parentNode.id)">수정</button>
                                <button id="deletefri${i}" style="display: none" type="button" class="btn btn-outline-secondary" onclick="deletecontents(this.parentNode.id)" >삭제</button>
                            </ur>
                            <ur id="workhistorysat${i}" style="display: none;">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">SAT Title</label>
                                    <textarea id="titlesat${i}" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                                </div>
                                <div class="mbz-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Contents</label>
                                    <textarea id="contentssat${i}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button id="insertsat${i}" type="button" class="btn btn-outline-primary" onclick="insertcontents(this.parentNode.id)">등록</button>
                                <button id="editsat${i}" style="display: none" type="button" class="btn btn-outline-success" onclick="editcontents(this.parentNode.id)">수정</button>
                                <button id="deletesat${i}" style="display: none" type="button" class="btn btn-outline-secondary" onclick="deletecontents(this.parentNode.id)" >삭제</button>
                            </ur>
                            <ur id="workhistorysun${i}" style="display: none;">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">SUN Title</label>
                                    <textarea id="titlesun${i}" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                                </div>
                                <div class="mbz-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Contents</label>
                                    <textarea id="contentssun${i}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button id="insertsun${i}" type="button" class="btn btn-outline-primary" onclick="insertcontents(this.parentNode.id)">등록</button>
                                <button id="editsun${i}" style="display: none" type="button" class="btn btn-outline-success" onclick="editcontents(this.parentNode.id)">수정</button>
                                <button id="deletesun${i}" style="display: none" type="button" class="btn btn-outline-secondary" onclick="deletecontents(this.parentNode.id)" >삭제</button>
                            </ur>
                            <ur id="workhistorymon${i}" style="display: none;">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">MON Title</label>
                                    <textarea id="titlemon${i}" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                                </div>
                                <div class="mbz-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Contents</label>
                                    <textarea id="contentsmon${i}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button id="insertmon${i}" type="button" class="btn btn-outline-primary" onclick="insertcontents(this.parentNode.id)">등록</button>
                                <button id="editmon${i}" style="display: none" type="button" class="btn btn-outline-success" onclick="editcontents(this.parentNode.id)">수정</button>
                                <button id="deletemon${i}" style="display: none" type="button" class="btn btn-outline-secondary" onclick="deletecontents(this.parentNode.id)" >삭제</button>
                            </ur>
                            <ur id="workhistorytue${i}" style="display: none;">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">TUE Title</label>
                                    <textarea id="titletue${i}" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                                </div>
                                <div class="mbz-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Contents</label>
                                    <textarea id="contentstue${i}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button id="inserttue${i}" type="button" class="btn btn-outline-primary" onclick="insertcontents(this.parentNode.id)">등록</button>
                                <button id="edittue${i}" style="display: none" type="button" class="btn btn-outline-success" onclick="editcontents(this.parentNode.id)">수정</button>
                                <button id="deletetue${i}" style="display: none" type="button" class="btn btn-outline-secondary" onclick="deletecontents(this.parentNode.id)" >삭제</button>
                            </ur>
                            <ur id="workhistorywed${i}" style="display: none;">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">WED Title</label>
                                    <textarea id="titlewed${i}" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                                </div>
                                <div class="mbz-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Contents</label>
                                    <textarea id="contentswed${i}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button id="insertwed${i}" type="button" class="btn btn-outline-primary" onclick="insertcontents(this.parentNode.id)">등록</button>
                                <button id="editwed${i}" style="display: none" type="button" class="btn btn-outline-success" onclick="editcontents(this.parentNode.id)">수정</button>
                                <button id="deletewed${i}" style="display: none" type="button" class="btn btn-outline-secondary" onclick="deletecontents(this.parentNode.id)" >삭제</button>
                            </ur>

                        `
                    }

                    $("#develophistory").append(temphtml);

                    for (let i = 0; i < historys.length; i++) {

                        let week = historys[i]['id']
                        let title = historys[i]['title']
                        let contents = historys[i]['contents']


                        for (let j = 1; j < 19; j++) {
                            if (week.slice(3, 5) == j) {

                                $("#title" + week.slice(0, 3) + j).val(title)
                                $("#contents" + week.slice(0, 3) + j).val(contents)
                                $("#insert" + week.slice(0, 3) + j).hide();
                                $("#edit" + week.slice(0, 3) + j).show();
                                $("#delete" + week.slice(0, 3) + j).show();

                                $("#" + week.slice(0, 3) + j).css("background-color", "#FDF5E6")
                                $("#week" + j).css("background-color", "#B0E0E6")


                            }
                        }

                    }


                    if (key == 'init') {

                        userkey = response['userKey'];
                    } else if (userkey != key) {
                        for (let i = 1; i < 19; i++) {
                            $("#insert" + "mon" + i).hide();
                            $("#edit" + "mon" + i).hide();
                            $("#delete" + "mon" + i).hide();
                            $("#insert" + "tue" + i).hide();
                            $("#edit" + "tue" + i).hide();
                            $("#delete" + "tue" + i).hide();
                            $("#insert" + "wed" + i).hide();
                            $("#edit" + "wed" + i).hide();
                            $("#delete" + "wed" + i).hide();
                            $("#insert" + "thu" + i).hide();
                            $("#edit" + "thu" + i).hide();
                            $("#delete" + "thu" + i).hide();
                            $("#insert" + "fri" + i).hide();
                            $("#edit" + "fri" + i).hide();
                            $("#delete" + "fri" + i).hide();
                            $("#insert" + "sat" + i).hide();
                            $("#edit" + "sat" + i).hide();
                            $("#delete" + "sat" + i).hide();
                            $("#insert" + "sun" + i).hide();
                            $("#edit" + "sun" + i).hide();
                            $("#delete" + "sun" + i).hide();
                        }

                        // if id.slice(0,3)=="mon"(
                        //
                        // )
                        // $("#post-url").val()
                    }
                    // console.log("userkey", userkey)
                    // console.log("key", key)

                }
            })

        }

        function showday(id) {
            id = id.split('k');
            if ($("#weekday" + id[1]).css("display") == "flex") {
                // post-box를 가리고
                $("#weekday" + id[1]).hide();
                $("#workhistorythu" + id[1]).hide();
                $("#workhistoryfri" + id[1]).hide();
                $("#workhistorysat" + id[1]).hide();
                $("#workhistorysun" + id[1]).hide();
                $("#workhistorymon" + id[1]).hide();
                $("#workhistorytue" + id[1]).hide();
                $("#workhistorywed" + id[1]).hide();
            } else {
                // 아니면(눈에 보이지 않으면) post-box를 펴라
                $("#weekday" + id[1]).show();
            }
        }

        // --------------------------------YD------------------------------------
        // --------------------------------YD------------------------------------
        // --------------------------------YD------------------------------------

        // --------------------------------SH------------------------------------
        // --------------------------------SH------------------------------------
        // --------------------------------SH------------------------------------

        function canQA() {
            window.location.reload();
        }

        function addQA(type, qa_uid = '') {
            if (type == 'q') {
                console.log('add question clicked')
                console.log($("#qadd").css("display"))
                if ($("#qadd").css("display") == 'none') {
                    $(`#qadd`).show();
                } else {
                    $(`#qadd`).hide();
                }
            } else {
                console.log('add answer clicked')
                console.log($("#" + "add" + qa_uid))
                console.log($("#" + "add" + qa_uid).css("display"))
                if ($("#" + "add" + qa_uid).css("display") == 'none') {
                    $("#" + "add" + qa_uid).show();
                } else {
                    $("#" + "add" + qa_uid).hide();
                }
            }

        }

        function addQARequest(type, qa_uid = '') {
            let content = ''
            if (type == 'q') {
                content = $("#addquestiontext").val()
            } else {
                content = $("#addanswertext").val()
            }
            console.log(content, type)

            $.ajax({
                type: "POST",
                url: `/qna/add`,
                data: {'id_give': qa_uid, 'content_give': content, 'type_give': type},
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        console.log("등록 성공");
                        window.location.reload();
                    } else {
                        alert(response["result"]);
                        window.location.reload();
                    }
                }
            })
        }

        function deleteQARequest(qa_uid, type) {
            console.log(qa_uid)
            console.log(type)
            $.ajax({
                type: "POST",
                url: `/qna/delete`,
                data: {'id_give': qa_uid, 'type_give': type},
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        console.log("삭제 성공");
                        window.location.reload();
                    } else {
                        alert(response["result"]);
                        window.location.reload();
                    }
                }
            })
        }

        function modifyQARequest(type, qa_uid) {
            console.log(type)
            let content;
            if (type == 'q') {
                content = $('#' + 'mq' + qa_uid).val();
            } else {
                content = $('#' + 'ma' + qa_uid).val();
            }
            console.log(qa_uid)
            console.log(content)
            $.ajax({
                type: "POST",
                url: `/qna/modify`,
                data: {'id_give': qa_uid, 'content_give': content, 'type_give': type},
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        console.log("수정 성공");
                        window.location.reload();
                    } else {
                        alert(response["result"]);
                        window.location.reload();
                    }
                }
            })
        }

        function modifyQA(qa_uid, question, answer, userkey_q, userkey_a, type) {

            if (type == 'q') {
                console.log('q')
                if (answer) {
                    let card_html = `

                        <div class="card" style="width: 100%;" id="${qa_uid}">
                        <div class="card-body">
                            <article class="message is-success" style="width: 80%">
                                <div class="message-header">
                                    <p>질문</p></div>
                                    <div class="message-body">
                                    <input id="mq${qa_uid}" class="form-control", value="${question}"></input><br>
                                    <h6 class="card-subtitle mb-2 text-muted">질문자 : ${userkey_q}</h6>
                                    <button type="button" class="button is-success" button_number=q${qa_uid} onclick="modifyQARequest('q','${qa_uid}')">완료</button>
                                    <button type="button" class="button is-success" id="canq" onclick="canQA()">
                                취소</button>
                                </div>
                            </article>
                            <article class="message is-info" style="width: 80%;float: right;">
                                <div class="message-header">
                                    <p>답변</p>
                                </div>
                                <div class="message-body">
                                    ${answer}
                                    <h6 class="has-text-right">답변자 : ${userkey_a}</h6>

                                </div>
                            </article>
                `
                    console.log('#' + qa_uid)
                    $('#' + qa_uid).html(card_html);
                } else {
                    let card_html = `

                        <div class="card" style="width: 100%;" id="${qa_uid}">
                        <div class="card-body">
                            <article class="message is-success" style="width: 80%">
                                <div class="message-header">
                                    <p>질문</p></div>
                                    <div class="message-body">
                                    <input id="mq${qa_uid}" class="form-control", value="${question}"></input><br>
                                    <h6 class="card-subtitle mb-2 text-muted">질문자 : ${userkey_q}</h6>
                                    <button type="button" class="button is-success" button_number=q${qa_uid} onclick="modifyQARequest('q','${qa_uid}')">완료</button>
                                    <button type="button" class="button is-success" id="canq" onclick="canQA()">
                                취소</button>
                                </div>
                            </article>

                `
                    console.log('#' + qa_uid)
                    $('#' + qa_uid).html(card_html);
                }

            } else {
                console.log('a')

                let card_html = `
                 <div class="card" style="width: 100%;" id="${qa_uid}">
                 <div class="card-body">

                      <article class="message is-success" style="width: 80%;">
                                <div class="message-header">
                                    <p>질문</p>
                                </div>
                                <div class="message-body">
                                    ${question}
                                    <h6 class="has-text-right">답변자 : ${userkey_q}</h6>

                                </div>
                            </article>

                     <p>


                     <article class="message is-info" style="width: 80%;float: right">
                                <div class="message-header">
                                    <p>답변</p>
                                </div>
                                <div class="message-body">
                                    <input id="ma${qa_uid}" class="form-control", value="${answer}"></input><br>
                                    <h6 class="has-text-right">답변자 : ${userkey_a}</h6>
                                    <button type="button" class="button is-info" button_number=a${qa_uid} onclick="modifyQARequest('a','${qa_uid}')">완료</button>
                                    <button type="button" class="button is-info" id="canq" onclick="canQA()">
                                    취소</button>
                                </div>
                            </article>
                     </p>
                 </div>
             </div>`
                console.log('#' + qa_uid)
                $('#' + qa_uid).html(card_html);
            }
        }

        // --------------------------------SH------------------------------------
        // --------------------------------SH------------------------------------
        // --------------------------------SH------------------------------------


    </script>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="logo_nav">
            <div class="login_logo"></div>
        </div>
        <div class="blank" style="height:8%"></div>
        <div class="header-nav-bar">
            <div class="nav-bar-contents">
                <div class="login_status">{{cnt_status}} / {{cnt_user}}님 로그인</div>
                <div class="blank" style="width:1%"></div>
                <div class="blank" style="width:2%"></div>
            </div>
            <div class="logout" style="cursor: pointer" onclick="logout()"></div>
        </div>
    </div>
    <div class="blank" style="height:4%"></div>
    <div class="contents">
        <div class="container_contents"><!---------------SH------------------->
            <!---------------SH------------------->
            <!---------------SH------------------->
            <div class="q_and_a">
                <div class="content_name">
                    <div>Q&A</div>
                </div>
                <div class="blank" style="height:1%"></div>
                <button type="button" style="background-color: #177199;border-color: white;border-radius: 5px; "
                        class="btn btn-primary btn-sm" id="addqbutton" }
                        onclick="addQA('q')">
                    질문하기
                </button>
                <div class="blank" style="height:1%"></div>
                <div id="qadd" style="display: none">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="addquestiontext" rows="2"></textarea><br>
                            <button type="button" class="btn btn-primary btn-sm" id="addq" }
                                    onclick="addQARequest('q')">
                                완료
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" id="canq" }
                                    onclick="addQA('q')">
                                취소
                            </button>
                        </div>
                    </form>
                </div>
                <div class="content_contents">

                    {% for qna in qnas %}
                    <div class="card" style="width: 100%;" id="{{qna['qa_uid']}}">
                        <div class="card-body">
                            <article class="message is-success" style="width: 80%">
                                <div class="message-header">
                                    <p>질문</p>
                                    <button class="delete" aria-label="delete"
                                            onclick="deleteQARequest('{{qna.qa_uid}}','q')"></button>
                                </div>
                                <div class="message-body">
                                    {{qna['question']}}
                                    <h6 class="has-text-right">질문자 : {{qna['username_q']}}</h6>
                                    <button type="button" class="button is-success" button_number=q{{qna['qa_uid']}}
                                            onclick="modifyQA('{{qna.qa_uid}}','{{qna.question}}','{{qna.answer}}','{{qna.username_q}}','{{qna.username_a}}', 'q')">
                                        수정
                                    </button>
                                    {% if not qna['answer'] %}
                                    <button type="button" class="button is-success"
                                            onclick="addQA('a', '{{qna.qa_uid}}')">
                                        답글
                                    </button>
                                    {% endif %}
                                </div>
                            </article>
                            {% if qna['answer'] %}
                            <article class="message is-info" style="width: 80%;float: right;">
                                <div class="message-header">
                                    <p>답변</p>
                                    <button class="delete" aria-label="delete"
                                            onclick="deleteQARequest('{{qna.qa_uid}}','a')"></button>
                                </div>
                                <div class="message-body">
                                    {{qna['answer']}}
                                    <h6 class="has-text-right">답변자 : {{qna['username_a']}}</h6>
                                    <button type="button" class="button is-link" button_number=a{{qna['qa_uid']}}
                                            onclick="modifyQA('{{qna.qa_uid}}','\'{{qna.question}}\'','{{qna.answer}}','{{qna.username_q}}','{{qna.username_a}}', 'a')">
                                        수정
                                    </button>
                                </div>
                            </article>

                            {% else %}

                            <p>
                                <br>
                            <div id="add{{qna.qa_uid}}" style="display: none">
                                <form>
                                    <div class="form-group">
                                        <textarea class="form-control" id="addanswertext" rows="2"></textarea><br>
                                        <button type="button" class="btn btn-primary btn-sm" id="adda" }
                                                onclick="addQARequest('a', '{{qna.qa_uid}}')">
                                            완료
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm" id="cana" }
                                                onclick="addQA('a', '{{qna.qa_uid}}')">
                                            취소
                                        </button>
                                    </div>
                                </form>
                            </div>
                            </p>
                            {% endif %}


                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!---------------SH------------------->
            <!---------------SH------------------->
            <!---------------SH------------------->

            <!---------------JH------------------->
            <!---------------JH------------------->
            <!---------------JH------------------->

            <div class="info">
                <div id="info_add_form">
                    <div class="info_add_title">
                        <div>INFO UPLOAD</div>
                    </div>
                    <div class="blank" style="height:10%"></div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">TITLE</span>
                        <input id="info_form_title" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">URL</span>
                        <input id="info_form_url" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">IMAGE</span>
                        <input id="info_form_img_url" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">CONTENTS</span>
                        <input id="info_form_contents" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div style="width:100%; display:flex; flex-direction: row; justify-content: center">
                        <button id="info_add_submit" type="button" class="btn btn-primary btn-sm btn-info">등록
                        </button>
                        <div style="width: 3%"></div>
                        <button id="info_add_cancel" type="button" class="btn btn-secondary btn-sm btn-info">
                            삭제
                        </button>
                    </div>
                </div>
                <div class="content_name">
                    <div style="width: 10%"></div>
                    <div style="width: 80%">INFOMATION</div>
                    <div id="info_add" class="info_add">+</div>
                    <div style="width: 5%"></div>
                </div>
                <div class="blank" style="height:1%"></div>
                <div class="content_contents">
                    {% set infos = infos_package[0] %}
                    {% set infosFinduser = infos_package[1] %}
                    {% for info in infos %}
                    {% set index = loop.index-1|int %}
                    {% set url = info['url'] %}
                    {% set info_uid = info['uid'] %}
                    {% set time_list = info_uid.split('.')%}
                    {% set view = info["view"] %}
                    <div class="card mb-3"
                         style="width: 100%; display: flex; justify-content: center; flex-direction: row; cursor: pointer"
                         onclick="window.open('{{url}}'); addLike('{{info_uid}}', '{{view}}')">
                        <div class="col-md-4"
                             style="width:40%; display: flex; align-items: center; justify-content: center; margin: 0; padding: 0">
                            <img style="width: 100%; height: 100%" src="{{info['image_url']}}">
                        </div>
                        <div class="col-md-8" style="width:60%" ;>
                            <div class="card-body">
                                <h5 class="card-title">{{info["title"]}}</h5>
                                <p class="card-text">{{info["contents"]}}</p>
                                <p class="card-text" style="text-align: right; margin: 0"><small
                                        class="text-muted">
                                    작성자 : {{infosFinduser[index]['name'] }} / 조회수 : {{view}}</small></p>
                                <div style="height: fit-content; text-align: right">
                                    <small>작성시간 : {{time_list[1]}}.{{time_list[2]}}.{{time_list[3]}}
                                        {{time_list[4]}}:{{time_list[5]}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!---------------JH------------------->
            <!---------------JH------------------->
            <!---------------JH------------------->

            <!---------------YD------------------->
            <!---------------YD------------------->
            <!---------------YD------------------->
            <div class="undefined">
                <div class="content_name">
                    <div>DEV HISTORY</div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            유저 검색
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {%for user in allusers%}
                            {% set name = user['name'] %}
                            {% set key = user['key'] %}
                            <a class="dropdown-item" onclick="showDevelopHistory('{{key}}')">{{name}}</a>
                            {%endfor%}
                        </div>
                    </div>

                </div>


                <div class="blank" style="height:1%"></div>
                <div class="content_contents">
                    <div style="width: 100%" id="develophistory" class="list-group"></div>
                </div>
            </div>
            <!---------------YD------------------->
            <!---------------YD------------------->
            <!---------------YD------------------->
        </div>
    </div>
    <div class="blank" style="height:10%"></div>
    <div class="footer">
        <div class="signature" style="color:white;">
            <strong>Copyright 2020. Week00 7조 김영동/최성현/조정훈. All rights reserved</strong>
        </div>
    </div>
</div>
<script>
    showDevelopHistory('init');
    init();
</script>
</body>
</html>